<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dziekujemy za skorzystanie z naszej subskrypcji</h1>
    <p>
      Skorzystaj z naszej strony juz teraz: <%= @url %><br/>
    </p>
    <p>Milego dnia :)</p>
  </body>
</html>