
<div id="maps" class="center">
<%= image_tag(@linkToDayImage, :alt=>" ", :id=> "dayImage") %>
<%= image_tag(@linkToNightImage, :alt=>" ", :id=> "nightImage") %>
</div>

<div id="day_chooser" class="center">
<select name='day' size='1' id="daySelect">
<%= options_for_select(@days) %>
</select>
</div>
<%= javascript_include_tag "main" %>
