<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>E-mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.email %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back', "/" %>
